
$music-set-card-height: 256px !default;
$music-set-card-width: $music-set-card-height !default;

$music-player-height: 90px !default;

$layout-header-search-padding: 16px !default;
$image_path: '~material-design-lite/src/images' !default;

@import "~material-design-lite/src/variables";
